nav{
    flex-direction: column;
}
nav ul li a{
    padding: 0px 7px;
    padding-bottom: 8px;
}
.main{
    height: 370px;
    padding: 10px 28px;
}
.main::before{
    height: 480px;
}
.main h1{
    font-size: 25px;
}
.main p{
    font-size: 13px;
}
.main button{
    padding: 5px 10px;
    font-size: 12px ;
}
.services{
    flex-direction: column;
}
.clients{
    flex-direction: column;
}